@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
:root {
    --siteBackgroundColorTheme: #2e85cc;
    --siteColorTheme: #fff;
    --headerLinksColor: #225986;
    --headerMobileLinksColor: #1b4c75;
    --headerMobileBgColor: #2e85cc;
    --headerMobileBorderColor: #ffffff54;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 25px 'Poppins', sans-serif;
    overflow: auto;
}

header {
    height: 80px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--siteBackgroundColorTheme);
}

header .main-list {
    width: 1200px;
    display: flex;
    align-items: center;
}

header .mobile-list {
    display: none;
}

header .main-list ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

header .main-list ul li {
    list-style: none;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-btn {
    display: none;
    width: 100%;
    z-index: 1;
}

.menu-btn .burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.menu-btn .burger .layer {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 4px;
    display: block;
    padding: 0;
    margin: 0;
    opacity: 1;
    border-radius: 15px;
    transition: all .5s ease
}

.menu-btn .burger .l1 {
    width: 60%;
}

.menu-btn .changeBars .l1 {
    transform: translate(0, 10px) rotate(45deg);
    width: 100%;
}

.menu-btn .changeBars .l2 {
    opacity: 0;
}

.menu-btn .changeBars .l3 {
    transform: translate(0, -10px) rotate(-45deg);
}

header .main-list li a {
    text-decoration: none;
    display: block;
    padding: 0 10px;
    color: var(--headerLinksColor);
    font-weight: bold;
    transition: all .25s ease-in-out;
}

/* button hover style */

header .main-list li::before {
    content: '';
    display: block;
    position: relative;
    height: 2px;
    width: 90%;
    transform: translateY(-6px);
    border-bottom: 1px solid var(--siteBackgroundColorTheme);
    transition: all .25s ease-in-out;
}

header .main-list li:hover::before {
    transform: translateY(-1px);
    border-color: var(--siteColorTheme);
    border-bottom-width: 2px;
    width: 100%;
}

header .main-list li::after {
    content: '';
    display: block;
    position: relative;
    height: 2px;
    width: 90%;
    transform: translateY(6px);
    border-top: 1px solid var(--siteBackgroundColorTheme);
    transition: all .25s ease-in-out;
}

header .main-list li:hover::after {
    transform: translateY(1px);
    border-color: var(--siteColorTheme);
    border-top-width: 2px;
    width: 100%;
}

header .main-list li:hover>a {
    color: var(--siteColorTheme);
}

main {
    min-height: calc(100vh - 125px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 1100px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    margin: 10px 0;
    padding: 0 15px;
}

.card {
    padding: 5px;
    margin: 5px;
    font-size: 22px;
}

article h2 span {
    display: inline-block;
}

.card .text {
    text-indent: 50px;
    text-align: justify;
}

.card .fact {
    font-weight: bold;
    border: 2px dashed #b4b4b4;
    text-align: justify;
    padding: 15px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.card ul li {
    margin: 15px 0;
}

.card ul li:last-child {
    margin: 15px 0 0;
}

.card ul li::before {
    content: "✅";
    display: inline-block;
    margin-right: 0.2rem;
}

.card ul li ul {
    list-style: none;
    padding: 0 15px;
}

.card ul li ul li::before {
    content: "📌";
    display: inline-block;
    margin-right: 0.2rem;
}

.card p {
    margin: 10px 0;
}

.card p em {
    font-weight: bold;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px dashed #b4b4b4;
    margin: 10px 0 0;
}

.card table {
    margin: 10px 0;
    border-collapse: collapse;
    border: 3px solid #005177;
    width: 100%;
}

.card table tr th {
    background-color: #006c97;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
}

.card table tr .title-column {
    background-color: #006c97;
    font-size: 1.3em;
}

.card table tr td {
    border: 2px solid #fff;
    font-weight: bold;
    text-align: center
}

.card table tr .td-row {
    background-color: #99d1eb;
}

.card table tr .td-row-d {
    background-color: #46acdb;
}

.card dl dt::before {
    content: "✅";
    display: inline-block;
    margin-right: 0.2rem;
}

.card dl dd {
    font-size: 1.5em;
    font-weight: bold;
}

.card dl dd .beer::before {
    content: "🍺";
    display: inline-block;
    margin-right: 0.2rem;
}

.card dl dd .default::before {
    content: "⚗️";
    display: inline-block;
    margin-right: 0.2rem;
}

.card dl dt {
    font-weight: bold;
}

article h2 {
    text-align: center;
}

footer {
    width: 100%;
    height: 45px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--siteBackgroundColorTheme);
    color: var(--siteColorTheme);
}

footer span {
    font-size: .8em;
    margin: 0 3px;
}

footer img {
    display: inline;
    width: 60%;
    height: 60%;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #b1b1b1;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}

/* 6" or higher */

@media screen and (max-width: 1150px) {
    body {
        margin: 0;
        font: 18px 'Poppins', sans-serif;
        overflow: auto;
    }
    header {
        padding: 0;
        height: 80px;
        position: sticky;
        width: 100vw;
        top: 0;
        background-color: var(--siteBackgroundColorTheme)
    }
    header .main-list {
        display: none;
    }
    header .mobile-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 80vw;
        height: calc(100vh - 80px);
        top: 80px;
        left: 0;
        transform: translate(-80vw, 0);
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.233);
        background-color: #ffffff;
    }
    header .mobile-list ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header .mobile-list ul li {
        list-style: none;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 20px 0;
        padding: 10px;
    }
    header .mobile-list ul li:first-child a {
        color: #008be7;
    }
    header .mobile-list li a {
        text-decoration: none;
        display: block;
        padding: 0 10px;
        color: #404040;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }
    header .mobile-list ul li::after {
        display: none;
    }
    header .mobile-list ul li::before {
        display: none;
    }
    .menu-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin: 0 10px;
    }
    .menu-btn .burger {
        width: 70px;
        height: 70px;
    }
    .menu-btn .burger .layer {
        height: 6px;
    }
    .menu-btn .changeBars .l1 {
        transform: translate(0, 18px) rotate(45deg);
        width: 100%;
    }
    .menu-btn .changeBars .l2 {
        opacity: 0;
    }
    .menu-btn .changeBars .l3 {
        transform: translate(0, -18px) rotate(-45deg);
    }
    .card {
        padding: 5px;
        margin: 1px;
        font-size: 18px;
    }
    .card ul {
        padding: 0;
    }
    .card ul li ul {
        padding: 5px 15px;
    }
    .card table * {
        font-size: 14px;
    }
    .card table {
        margin: 0px
    }
    article {
        width: 96vw;
        padding: 2px;
    }
}

/* 4" or 5" */

@media screen and (max-width: 650px) {
    body {
        margin: 0;
        font: 18px 'Poppins', sans-serif;
        overflow: auto;
    }
    header {
        padding: 0;
        height: 60px;
        position: sticky;
        width: 100vw;
        top: 0;
        background-color: var(--siteBackgroundColorTheme)
    }
    header .main-list {
        display: none;
    }
    header .mobile-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 80vw;
        height: calc(100vh - 60px);
        top: 60px;
        left: 0;
        transform: translate(-80vw, 0);
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.233);
        background-color: #ffffff;
    }
    header .mobile-list ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header .mobile-list ul li {
        list-style: none;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 0;
        padding: 10px;
    }
    header .mobile-list ul li:first-child a {
        color: #008be7;
    }
    header .mobile-list li a {
        text-decoration: none;
        display: block;
        padding: 0 10px;
        color: #404040;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
    }
    header .mobile-list ul li::after {
        display: none;
    }
    header .mobile-list ul li::before {
        display: none;
    }
    .menu-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin: 0 10px;
        transform: scale(1);
    }
    .menu-btn .burger {
        width: 40px;
        height: 40px;
    }
    .menu-btn .burger .layer {
        height: 4px;
    }
    .menu-btn .changeBars .l1 {
        transform: translate(0, 10px) rotate(45deg);
        width: 100%;
    }
    .menu-btn .changeBars .l2 {
        opacity: 0;
    }
    .menu-btn .changeBars .l3 {
        transform: translate(0, -10px) rotate(-45deg);
    }
    .card {
        padding: 5px;
        margin: 1px;
        font-size: 16px;
    }
    .card ul {
        padding: 0;
    }
    .card ul li ul {
        padding: 5px 15px;
    }
    .card table * {
        font-size: 6px;
    }
    .card table {
        margin: 0px
    }
    main {
        min-height: calc(100vh - 105px);
    }
    article {
        width: 96vw;
        padding: 2px;
    }
    footer span {
        font-size: .8em;
    }
}